@define-color bg0   #1a1b26;
@define-color bg1   #1f2335;
@define-color bg2   #24283b;
@define-color bg3   #292e42;
@define-color bg4   #3b4261;

@define-color red     #f7768e;
@define-color orange  #ff9e64;
@define-color yellow  #e0af68;
@define-color green   #9ece6a;
@define-color aqua    #7dcfff;
@define-color blue    #7aa2f7;
@define-color purple  #bb9af7;

@define-color fg      #c0caf5;

@define-color grey0   #414868;
@define-color grey1   #565f89;
@define-color grey2   #737aa2;

* {
    border: none;
    border-radius: 0px;

    font-family: "Adwaita-sans", "JetBrainsMono Nerd Font Propo", sans-serif;

    font-size: 13px;

    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
    background: @bg0;
    border: 1px solid @bg3;
    border-radius: 12px;
}
tooltip label {
    color: @fg;
    padding: 6px;
}

#workspaces {
    background-color: @bg0;
    padding: 5px 3px;
    margin: 0 0 0 12px;
    border-radius: 18px;
    border: 1px solid @bg1;
    color: @fg;
}
#workspaces button {
    padding: 0px 6px;
    margin: 0px 3px;
    border-radius: 45px;
    color: transparent;
    background-color: @bg1;
    transition: all 0.3s ease-in-out;
}
#workspaces button.active {
    background-color: @blue;
    color: @bg0;
    min-width: 45px;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
}

#workspaces button:hover {
    background-color: @purple;
    color: @bg0;
    border-radius: 16px;
    min-width: 45px;
    background-size: 400% 400%;
}

#workspaces button.urgent {
    background-color: @red;
    color: @bg0;
    border-radius: 16px;
    min-width: 45px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#pulseaudio,
#network,
#clock,
#cpu,
#memory,
#custom-notification,
#custom-power {
    background-color: @bg0;
    padding: 0 15px 0 15px;
    margin: 0 0 0 12px;
    border-radius: 45px;
    border: 1px solid @bg1;
}

#clock {
    color: @blue;
}

#custom-noyification {
    color: @fg;
}

#pulseaudio {
    color: @yellow
}

#network {
    color: @purple;
}

#cpu {
    color: @aqua;
}

#memory {
    color: @green;
}

#custom-power {
    color: @red;
    margin: 0 12px 0 12px;
}

